{% extends "base.html" %} {% block start %}

<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>
<style>
  .text {
    color: green;
    font-weight: bold;
  }
</style>

<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2 class="text text-center">My Data</h2>

    <h>Update Data</h>
    <hr />
    <div class="form-group">
      <label for="timestamp">Time Stamp</label>
      <input
        name="timestamp"
        value="{{book.time_stamp}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="sipcallingparty">Sip Calling Party</label>
      <input
        name="sipcallingparty"
        value="{{book.sip_calling_party}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="sipcalledparty">Sip Called Party</label>
      <input
        name="sipcalledparty"
        value="{{book.sip_called_party}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="sipcallduration">Sip Call Duration</label>
      <input
        name="sipcallduration"
        value="{{book.sip_call_duration}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="sipcallstatus">Sip Call Status</label>
      <input
        name="sipcallstatus"
        value="{{book.sip_call_status}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="siprtpl4srcport">Sip Rtp L4 Src Port</label>
      <input
        name="siprtpl4srcport"
        value="{{book.sip_rtp_l4_src_port}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="siprtpl4dstport">Sip Rtp L4 Dst Port</label>
      <input
        name="siprtpl4dstport"
        value="{{book.sip_rtp_l4_dst_port}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="rtpinjitter">Rtp In Jitter</label>
      <input
        name="rtpinjitter"
        value="{{book.rtp_in_jitter}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="rtpinmos">Rtp In Mos</label>
      <input
        name="rtpinmos"
        value="{{book.rtp_in_mos}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="pktlossper">Pkt Loss Per</label>
      <input
        name="pktlossper"
        value="{{book.pkt_loss_per}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="sipcallingreg">Sip Calling Reg</label>
      <input
        name="sipcallingreg"
        value="{{book.sip_calling_reg}}"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="sipcalledreg">Sip Called Reg</label>
      <input
        name="sipcalledreg"
        value="{{book.sip_called_reg}}"
        type="text"
        class="form-control"
      />
    </div>

    <button type="submit" class="btn btn-success">Update Data</button>
  </form>
</div>

{% endblock %}
